<div class="social-login-container">
    <div class="social-btns inner-box">
        <button class="linkedin">Continue with LinkedIn</button>
        <button class="fb">Continue with Facebook</button>
    </div>
    <div class="email-msg inner-box">
        <div class="msg-content">
            <span class="continue">Continue with email.</span><span>
            By signing up you idicate that you have read and agree to the Terms of Service and Privacy Policy.
            </span>
        </div>
    </div>
</div>
