social-login {
  display: inline-block;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  .inner-box {
    display: flex;
    align-items: center;
    justify-content: center;

    &.social-btns {
      flex-direction: column;

      button {
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }

      .linkedin {
        background-color: #1179B4;
      }

      .fb {
        margin-top: 22px;
        background-color: #395996;
      }
    }
    &.email-msg {
      .msg-content {
        width: 239px;
        height: 47px;
        font-size: 14px;
        margin-top: 25px;

        .continue {
          color: #6300e6;
        }
      }
    }
  }
}