<div class="login-box">
    <div class="login-title">Login</div>
    <div class="logins">
        <email-login></email-login> <social-login></social-login>
    </div>
    <div class="sign-up">
        <span>Don't have an account yet?</span>
        <button class="app-btn">SIGN UP</button>
    </div>
    <footer class="nav-menu">
        <ul>
            <li><a>About</a></li>
            <li><a>Terms of use</a></li>
            <li><a>Contact</a></li>
            <li><a>Privacy</a></li>
        </ul>
    </footer>
</div>
